@model MovieRental.DAL.Models.Rent

@{
    ViewData["Title"] = "Create";
}
@if (!string.IsNullOrEmpty(ViewData["NotificationMessage"] as string))
{
    <script>
        alert('@Html.Raw(ViewData["NotificationMessage"])');
    </script>
}
@if (!string.IsNullOrEmpty(ViewData["CreatingError"] as string))
{
    <script>
        alert('@Html.Raw(ViewData["CreatingError"])');
    </script>
}
<h1>Create Rent</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input asp-for="RentingDate" class="form-control" />
                <span asp-validation-for="RentingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Username</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Movies</label>
                <select asp-for="MoviesIds" class="form-control" asp-items="ViewBag.MoviesIds" multiple></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index"><input type="button" value="Back"</a>
            </div>
        </form>
    </div>
</div>

