<a routerLink="add">Add new</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payment of payments">
            <td>{{payment.id_Payment}}</td>
            <td>{{payment.price}}</td>
            <td>
                <button (click)="onDeleteClick(payment)">Delete</button>
            </td>
            <td>
                <a [routerLink]="payment.id_Payment + '/edit'">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
