@using MovieRental.DAL.Models;
@model MovieRental.DAL.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>All movies from selected category</h1>

<div>
    @if (ViewBag.MoviesFromCategory != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Premiere</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (Movie item in ViewBag.MoviesFromCategory)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Director</td>
                        <td>@item.Premiere</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Empty</p>
    }
</div>
<div>
    <a asp-action="Index"><input type="button" value="Back to MovieBase"></a>
</div>